---
bd_subnet:
{% for item in csvfile.split("\n") %}
{%   if loop.index >= 1 %}
{%     set list = item.split("\t") %}
 - {tenant: "{{ list[0]|trim() }}", bd_name: "{{ list[1]|trim() }}", subnet: "{{ list[2]|trim() }}", mask: "{{ list[3]|trim() }}"} 
{%   endif %}
{% endfor %}
