---
map_int_to_sw_profile:
{% for item in csvfile.split("\n") %}
{%   if loop.index >= 1 %}
{%     set list = item.split("\t") %}
 - {int_prof: "{{ list[0]|trim() }}", sw_prof: "{{ list[1]|trim() }}"} 
{%   endif %}
{% endfor %}
