---
epg_domain:
{% for item in csvfile.split("\n") %}
{%   if loop.index >= 1 %}
{%     set list = item.split("\t") %}
 - {tenant: "{{ list[0]|trim() }}", app_prof: "{{ list[1]|trim() }}", epg: "{{ list[2]|trim() }}", domain: "{{ list[3]|trim() }}", res: "{{ list[4]|trim() }}"} 
{%   endif %}
{% endfor %}
