---
bd:
{% for item in csvfile.split("\n") %}
{%   if loop.index >= 1 %}
{%     set list = item.split("\t") %}
 - {tenant: "{{ list[0]|trim() }}", name: "{{ list[1]|trim() }}", description: "{{ list[2]|trim() }}", unicast: "{{ list[3]|trim() }}", vrf: "{{ list[4]|trim() }}"} 
{%   endif %}
{% endfor %}
